registry=https://registry.npmmirror.com
@tsign:registry=https://registry-npm.tsign.cn
@esign:registry=https://registry-npm.tsign.cn
@esign-ui:registry=https://registry-npm.tsign.cn
@esign-component:registry=https://registry-npm.tsign.cn
