<script lang="ts" setup>
interface IProp {

}

const props = defineProps<IProp>()
defineOptions({ name: '{{properCase componentName}}' })
</script>

<template>
  <div>
    <!-- Your content -->
  </div>
</template>

<style lang="less" scoped>
</style>
