@blue-1: #e6f4ff;
@blue-2: #a6d4ff;
@blue-3: #7dbcff;
@blue-4: #54a1ff;
@blue-5: #2b84ff;
@blue-6: #0364ff;
@blue-7: #004cd9;

@red-1: #fff1f0;
@red-2: #ffccc7;
@red-3: #ffa39e;
@red-4: #ff7875;
@red-5: #ff4d4f;
@red-6: #f5222d;
@red-7: #cf1322;

@yellow-1: #fffbe6;
@yellow-2: #fff1b8;
@yellow-3: #ffe58f;
@yellow-4: #ffd666;
@yellow-5: #ffc53d;
@yellow-6: #faad14;
@yellow-7: #d48806;

@green-1: #e6fff2;
@green-2: #a0face;
@green-3: #72edb6;
@green-4: #48e0a1;
@green-5: #22d48f;
@green-6: #00c881;
@green-7: #00a16e;

/***** PC端色彩规范 *****/

/** 主色 **/
@B1: @blue-1;
@B1: @blue-1;
@B2: @blue-3;
@B3: @blue-2;
@B4: @blue-4;
@B5: @blue-5;
/** 主色 */
@B6: @blue-6;

/** 中性色 */

/** 表格表头背景色 */
@N1: #fafbfd;
/** 页面背景色 */
@N2: #f6f7fa;
/** 分割线、线色 */
@N3: #f0f0f0;
/** 边框、浅色 */
@N4: rgba(10, 15, 44, 0.15);
/** 文字色，指 disable、提示文字等 */
@N5: rgba(10, 15, 44, 0.25);
/** 文字色，指辅助、说明文字 */
@N6: rgba(10, 15, 44, 0.45);
/** 文字色，指主文字2 */
@N7: rgba(10, 15, 44, 0.65);
/** 文字色，指主文字1 */
@N8: rgba(10, 15, 44, 0.85);
/**  */
@N9: #f5f5f5;

/** 黑色 */
@B: #0a0f2c;
/** 白色 */
@W: #ffffff;

/** 功能色 */

/** 成功消息中的背景颜色 */
@G1: #eefcf7;

/** 成功状态消息中的边框颜色 */
@G3: #8ce6c6;

/** 成功消息中的文本颜色 */
@G6: @green-6;

/** 错误状态消息中的背景颜色 */
@R1: @red-1;

/** 错误状态消息中的边框颜色 */
@R3: @red-3;

/** 错误消息中的文本颜色 */
@R6: @red-6;

/** 警告消息中的背景颜色 */
@Y1: @yellow-1;

/** 警告消息中的边框颜色 */
@Y3: @yellow-3;

/** 警告消息中的文本颜色 */
@Y6: @yellow-6;

/** 衍生色 */

/** 按钮等 Hover 颜色 */
@B5: @blue-5;

/** 按钮等 Active 颜色 */
@B7: @blue-7;

/** 按钮等 Hover 颜色 */
@R5: @red-5;

/** 按钮等 Active 颜色 */
@R7: @red-7;

/** 按钮等 Hover 颜色 */
@G5: @green-5;

/** 按钮等 Active 颜色 */
@G7: @green-7;

/** 按钮等 Hover 颜色 */
@Y5: @yellow-5;

/** 按钮等 Active 颜色 */
@Y7: @yellow-7;

/** 次按钮等 Hover 颜色 */
@N8-1: @blue-5;

/** 次按钮等 Active 颜色 */
@N8-1: @blue-7;

/** 设计辅助，如评分打星 */
@Y4: #fadb14;

/** 静态资源oss地址 */

/** 默认头像24@2x */
@DEFAULT_24x2: 'https://cdn.byai.com/by-fe-cdn/static/pmp/6f7087d6-4bef-4e42-8782-828864d780b0.png';
/** 默认头像32@2x */
@DEFAULT_32x2: 'https://cdn.byai.com/by-fe-cdn/static/pmp/be618cd0-2a3c-4a06-878c-40090e4fa5a8.png';
/** 默认头像40@2x */
@DEFAULT_40x2: 'https://cdn.byai.com/by-fe-cdn/static/pmp/b93eb737-d6c4-4dce-83ca-a4c84ee7ad24.png';
/** 默认头像44@2x */
@DEFAULT_44x2: 'https://cdn.byai.com/by-fe-cdn/static/pmp/4dfb7e13-077d-43b2-afac-1d2409905180.png';
/** 群聊默认头像18@2x */
@GROUP_CHAT_18x2: 'https://cdn.byai.com/by-fe-cdn/static/pmp/cc49fef1-de5a-4183-af0a-1189d2bfe9d6.png';
/** 图文链接68@2x */
@PIC_DOC_68x2: 'https://cdn.byai.com/by-fe-cdn/static/pmp/47b62250-d293-4a63-8e35-18b98cf924ea.png';
/** 未分配头像24@2x */
@UNDISTRIBUTED_68x2: 'https://cdn.byai.com/by-fe-cdn/static/pmp/086cb276-5c7e-4f8c-bc7e-e1037f67a213.png';
/** 无工作组缺省124@2x */
@NO_WORKGROUP_124x2: 'https://cdn.byai.com/by-fe-cdn/static/pmp/ff814da5-a910-43dd-b232-4639f7c11c48.png';
